{% extends 'base.html' %}

{% block content %}
    <h1>
        Статьи
    </h1>
    <ol>
        {% for article in articles %}
        <a href="{% url 'article' article.id %}">
            <li>{{ article.title }}</li>
        </a>  
        {% endfor %}
    </ol>

    <form method="POST">

        {% csrf_token %}   
<!--          
        <button type="submit">
            <a href="{% url 'article-add' %}">
                Add new article
            </a> 
        </button>
    </form> -->
    <!-- <div>
        <form action="add_article/" method="POST">
        {% csrf_token %}
            <input type="text" name="title">
            <br><br>
            <textarea name="text" id="" cols="30" rows="10"></textarea>
            <br><br>
            <button>сохранить</button>
        </form>
    </div> -->

{% endblock %}