{% extends 'layout.html' %}

{% block auth %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Login:</label>
            <input type="text" class="form-control" placeholder="login" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="password" id="pwd" name="password">
        </div>
        <button class="btn btn-primary">Log in</button>
    </form>

{% endblock %}